.container {
    background-image: url("../css//bmwM1.jpg");
    background-color: rgb(95, 95, 95);
    background-blend-mode: screen;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}