$fontColor: rgb(230, 230, 230);


body {
    background-image: url("../css//porsche.jpg");
    background-color: rgba(97, 97, 97, 0.842);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
};

#title {
    font-family: 'Satisfy', cursive;
    color: $fontColor;
    font-size: 3.8rem;
    float: right;
    margin-top: 5.5rem;
}

.oilTitle {
    color: $fontColor;
}

#loginForm {
    margin-top: 6rem;
}

#fun {
    color: rgb(231, 231, 231);
}

.createAccountCont {
    color: $fontColor;
}

#createForm {
    margin-top: 5rem;
}

.input-field label {
    color:white;
  }

  .input-field input[type=text]:focus + label {
    color: white;
  }

  .input-field input[type=text]:focus {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 #000;
  }